/* Universal */

body {
    font-family: 'League Spartan', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */

nav {
    display: flex;
    align-items: center;
}

nav h2 {
    justify-content: left;
    width: 20%;
    font-size: 2rem;
    margin-left: 5px;
}

nav a {
    width: 40%;
    justify-content: space-around;
    text-align: center;
    font-size: 1.75rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: darkmagenta;
}

/* About Me */


.about_me_container {
    display: flex;
}

.about_me_container h2 {
    width: 100%;
}

.about_me_container p {
    width: 100%;
    float: left;
    font-size: 1.25rem;
}

.about_me_container img {
    width: 35%;
    height: 25rem;
    object-fit: scale-down;
    float: right;
    border-radius: 5%;
}

/* RPS */

div.project_2 p {
    text-align: center;
    font-size: 2rem;
}

.choicePics
 {
    display: flex;
    justify-content: space-around;
}

.choicePics img {
    max-height: 300px;
    max-width: 300px;
}

/* Contact Page */

h1 {
    text-align: center;
}

.contactIcons {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
}

.contactIcons img {
    height: 4rem;
    border-radius: 50%;
}

/* Footer */

footer {
    border-top: 2px solid black;
}